.footer-component {
    display: flex;
    align-items: justify;
    justify-content: space-between;
    border-top: 2px solid #007bff;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    min-height: 45px;  
    flex-wrap: wrap; 
}

.footer-blurb {
    max-width: 450px; 
    line-height: 1.4;
    margin-top: 10px; 
}

.footer-component a {
    text-decoration: none;
}

.footer-component a:hover {
    color: #0056b3;
}

.footer-component h3 {
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;  
}

.footer-component ul {
    list-style-type: none;
    padding: 2px;
    
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    width: 100%;
    border-top: 2px solid #007bff;
}


